# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Exclude everything from `git archive` by default.
* export-ignore

# Keep the `addons/networked` directory in archives.
addons/ -export-ignore
addons/networked/ -export-ignore
addons/networked/** -export-ignore
